/* Globals */
a,
a:focus,
a:hover {
  color: #fff;
}
html,
body {
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}
body {
  /* color: #fff; */
  text-align: center;
}
.hide {
  display: none;
}
.landing-heading {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}

/* Buttons */
.btn {
  font-family: "Source Code Pro", monospace;
  padding: 0.5625rem 2.5rem;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.75rem;
  border-radius: 0 !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.btn-lg {
  font-size: 0.875rem;
  padding: 0.6875rem 3.4375rem;
  line-height: 1.75rem;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}
.btn-primary {
  background-color: #270f34;
  border: 1px solid #270f34;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #fff;
  border: 1px solid #2c96ff;
  background-color: #2c96ff;
}

/* Avatar */
.avatar {
  width: 100px;
  height: 100px;
}
.avatar-section {
  margin-bottom: 25px;
}

/* Scaffolding */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.panel-authed {
  padding: 0 0 0 0;
}

/* Home button */
.btn-home-hello {
  position: absolute;
  font-family: "Source Code Pro", monospace;
  font-size: 11px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  top: 15px;
  left: 15px;
  padding: 3px 20px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300");

/************************************************/
/* Color Pallet */
/* Base Colors */
/* Main Primary color */
/* Word Colors */
/************************************************/
/* Mixins / Placeholders */
#timer,
#restart,
#submit-name,
#submit-comment,
#submit-edit-comment {
  margin: 0.2em;
  line-height: 2.2em;
  height: 2.2em;
}

#word-section {
  border: 1px solid #999;
  background-color: #fff;
}

/************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  /* background-color: #93C572; */
  font-family: sans-serif;
  min-width: 600px;
  max-width: 850px;
}

header {
  padding: 1em;
  text-align: center;
}
header h3 {
  font-weight: normal;
}

section {
  width: 90%;
  margin: 0 auto;
  padding: 0.5em;
}

#game {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  left: 10%;
  right: 10%;

  width: 80vw;
  padding: 15px;
  border-radius: 15px;
  background-color: black;
  opacity: 0.6;
}

#ccr {
  font: 300 65px/1 Alegreya Sans, monospace;
}

#word-section {
  background-color: black;
  font-size: 1.5em;
  height: 5em;
  line-height: 2em;
  /* hide 3rd line of text */
  border-radius: 0.25em;
  position: relative;
  overflow: hidden;
}
#word-section > span {
  display: inline-block;
  margin-left: 0.2em;
  /* emulate spaces between words */
}

#type-section {
  text-align: center;
  margin-bottom: 3em;
}
#type-section > * {
  font-size: 1.5em;
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  color: #fff;
  vertical-align: middle;
}

#typebox {
  width: 75%;
  color: #000;
  padding: 0.5em;
  box-shadow: -1px -1px 5px #383838;
}
#typebox:focus {
  outline: none;
}

#namebox,
#commentbox,
#editcommentbox {
  font-size: 1em;
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  vertical-align: middle;
  width: 90%;
  color: #000;
  padding: 0.5em;
  box-shadow: -1px -1px 5px #383838;
}

#namebox:focus,
#commentbox:focus,
#editcommentbox:focus {
  outline: none;
}

#namebox {
  display: none;
}

#timer {
  width: 4em;
  background-color: #00a4e4;
  margin-right: 0;
}

#submit-name {
  font-size: 1em;
  padding: 0em 1em 0em 1em;
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  color: #fff;
  vertical-align: middle;
  background-color: #00a4e4;
  margin-right: 0;
}

#submit-comment {
  font-size: 1em;
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  color: #fff;
  vertical-align: middle;
  width: 4em;
  background-color: #00a4e4;
  margin-right: 0;
}

#submit-edit-comment {
  font-size: 1em;
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  color: #fff;
  vertical-align: middle;
  width: 4em;
  background-color: #00a4e4;
  margin-right: 0;
}

#restart {
  width: 2em;
  background-color: #00a4e4;
}
#restart > span {
  display: inline-block;
  transform: rotate(1.5rad);
  font-weight: bold;
}
#restart:hover {
  background-color: #00a4e4;
}
#restart:active {
  box-shadow: 1px 1px 4px #00a4e4 inset;
}

#results {
  text-align: center;
  margin: 0 1%;
  display: block;
}
#results li {
  list-style: none;
}
#results li:first-child {
  font-size: 1.5em;
}
#results li:nth-child(2) {
  font-size: 0.8em;
  line-height: 1em;
}
#results #results-stats {
  font-size: 0.6em;
}

#leaderboard {
  color: white;
  height: 8em;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  padding-right: 25px;
}
#leaderboard td {
  padding-left: 25px;
}

#comment-section {
  margin-top: 3em;
  padding-left: 25px;
  font-size: 1em;
}
#comment-section ul {
  list-style-type: none;
  padding-right: 25px;
  height: 8em;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
}

#commentform,
#editcommentform {
  padding-top: 25px;
}

footer {
  margin-top: 1em;
  text-align: center;
  font-size: 0.8em;
  color: #fff;
  padding-bottom: 3em;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/************************************************/
/* hides small bit of residule text after scrolling */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.magic-box {
  position: fixed;
  width: inherit;
  height: 0.5em;
  top: 54px;
  background-color: #fff;
}

.waiting {
  text-align: center;
  line-height: 1.5em;
  font-size: 3em;
}

.current-word {
  background-color: #dddddd;
}

.correct-word-c {
  color: #93c572;
}

.incorrect-word-c {
  color: #e50000;
}

.incorrect-word-bg {
  background-color: #e50000;
}

.delete-button {
  color: black;
  margin-right: 5px;
  padding: 2px;
}

.edit-button {
  color: black;
  margin-left: 5px;
  padding: 2px;
}
.cancel-button {
  margin-left: 5px;
  padding: 2px;
}

/* lightning thunder */

.page-thunder-to-text {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  background-color: black;
  opacity: 0.5;

  canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  input {
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    outline: none;
    background-color: rgba(38, 50, 56, 0);
    color: #000;
    border: none;
    width: 50%;
    min-width: 500px;
    max-width: 100%;
    margin: auto;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    padding: 0 20px;

    &:hover,
    &:focus {
      border: 1px solid rgba(38, 50, 56, 0);
    }

    &::-webkit-input-placeholder {
      color: rgba(#ffffff, 0);
    }
  }
}

#input {
  opacity: 0;
}

/* flash */

.area {
  text-align: center;
  font-size: 6.5em;
  color: #fff;
  letter-spacing: -7px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow: 0px 0px 10px rgba(25, 181, 254, 1),
      0px 0px 10px rgba(25, 181, 254, 1), 0px 0px 25px rgba(25, 181, 254, 1),
      0px 0px 25px rgba(25, 181, 254, 1), 0px 0px 25px rgba(25, 181, 254, 1),
      0px 0px 25px rgba(25, 181, 254, 1), 0px 0px 25px rgba(25, 181, 254, 1),
      0px 0px 25px rgba(25, 181, 254, 1), 0px 0px 50px rgba(25, 181, 254, 1),
      0px 0px 50px rgba(25, 181, 254, 1), 0px 0px 50px #7b96b8,
      0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px -10px 100px #7b96b8,
      0px -10px 100px #7b96b8;
  }
}

.avatar-section,
.hello {
  opacity: 0;
}

.lead {
  position: absolute;
  top: 1em;
  right: 1em;
}

#section-1 {
  position: absolute;
  top: 0em;
  left: 0em;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #000000;
  /* background-repeat: no-repeat;
  background: -webkit-linear-gradient(to left top, blue, red);
  background: -moz-linear-gradient(to left top, blue, red);
  background: -ms-linear-gradient(to left top, blue, red);
  background: -o-linear-gradient(to left top, blue, red);
  background: linear-gradient(to left top, blue, red); */
}

.landing-words {
  margin: auto;
}

#three-container {
  margin-top: -8em;
  z-index: -1;
}

#call-to-action {
  margin: 0;
  margin-top: 8em;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  left: 10%;
  right: 10%;
  z-index: 2;
}

.share {
  font-size: 1em;
  border: 1px solid white;
  border-radius: 2em;
  padding: 1em;
}

.share:hover {
  color: #00a4e4;
  border: 1px solid #00a4e4;
  text-decoration: none;
}

.twitter {
  margin-left: 2em;
}

.combo {
  max-height: 4em;
  color: white;
  display: flex;
  margin: 1em 2em 0em 2em;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.combo-combo,
.combo-max {
  flex: 1;
  text-align: left;
  font-size: 2em;
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
}

.combo-combo {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  -moz-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@-moz-keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff,
      0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff,
      0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
  }
}

.combo-max {
  text-align: right;
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

.grow {
  font-size: 2.5em;
}

.growTimer {
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
  font-size: 1.7em;
}

.shrink {
  -webkit-transition: font-size 0.5s ease;
  -moz-transition: font-size 0.5s ease;
  -o-transition: font-size 0.5s ease;
  transition: font-size 0.5s ease;
  font-size: 1em;
}

.powers span img {
  width: 60px;
}

.powers span {
  font-size: 2em;
  padding: 0em 0.2em 0em 0.2em;
}

.fadein {
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: fadeInBottom;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}

.fadeout {
  animation-duration: 1s;
  animation-fill-mode: both;
  display: inline-block;
  animation-name: fadeOutBottom;
}

@keyframes fadeOutBottom {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
  }
}

/* .freeze {
  border-radius: 50%;
  -webkit-animation: neonWhite 1.5s ease-in-out infinite alternate;
  -moz-animation: neonWhite 1.5s ease-in-out infinite alternate;
  animation: neonWhite 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonWhite {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px white, 0 0 70px white,
      0 0 80px white, 0 0 100px white,
      0 0 150px white;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px white, 0 0 35px white,
      0 0 40px white, 0 0 50px white,
      0 0 75px white;
  }
}

@-moz-keyframes neonWhite {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px white, 0 0 70px white,
      0 0 80px white, 0 0 100px white,
      0 0 150px white;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px white, 0 0 35px white,
      0 0 40px white, 0 0 50px white,
      0 0 75px white;
  }
}

@keyframes neonWhite {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px white, 0 0 70px white,
      0 0 80px white, 0 0 100px white,
      0 0 150px white;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px white, 0 0 35px white,
      0 0 40px white, 0 0 50px white,
      0 0 75px white;
  }
}

.shield {
  border-radius: 50%;
  -webkit-animation: neonTeal 1.5s ease-in-out infinite alternate;
  -moz-animation: neonTeal 1.5s ease-in-out infinite alternate;
  animation: neonTeal 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonTeal {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(25, 254, 193), 0 0 70px rgb(25, 254, 193),
      0 0 80px rgb(25, 254, 193), 0 0 100px rgb(25, 254, 193),
      0 0 150px rgb(25, 254, 193);
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(25, 254, 193), 0 0 35px rgb(25, 254, 193),
      0 0 40px rgb(25, 254, 193), 0 0 50px rgb(25, 254, 193),
      0 0 75px rgb(25, 254, 193);
  }
}

@-moz-keyframes neonTeal {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(25, 254, 193), 0 0 70px rgb(25, 254, 193),
      0 0 80px rgb(25, 254, 193), 0 0 100px rgb(25, 254, 193),
      0 0 150px rgb(25, 254, 193);
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(25, 254, 193), 0 0 35px rgb(25, 254, 193),
      0 0 40px rgb(25, 254, 193), 0 0 50px rgb(25, 254, 193),
      0 0 75px rgb(25, 254, 193);
  }
}

@keyframes neonTeal {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(25, 254, 193), 0 0 70px rgb(25, 254, 193),
      0 0 80px rgb(25, 254, 193), 0 0 100px rgb(25, 254, 193),
      0 0 150px rgb(25, 254, 193);
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(25, 254, 193), 0 0 35px rgb(25, 254, 193),
      0 0 40px rgb(25, 254, 193), 0 0 50px rgb(25, 254, 193),
      0 0 75px rgb(25, 254, 193);
  }
} */

.plus5percent {
  -webkit-animation: neonRed 1.5s ease-in-out infinite alternate;
  -moz-animation: neonRed 1.5s ease-in-out infinite alternate;
  animation: neonRed 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 25, 25), 0 0 70px rgb(254, 25, 25),
      0 0 80px rgb(254, 25, 25), 0 0 100px rgb(254, 25, 25),
      0 0 150px rgb(254, 25, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 25, 25), 0 0 35px rgb(254, 25, 25),
      0 0 40px rgb(254, 25, 25), 0 0 50px rgb(254, 25, 25),
      0 0 75px rgb(254, 25, 25);
  }
}

@-moz-keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 25, 25), 0 0 70px rgb(254, 25, 25),
      0 0 80px rgb(254, 25, 25), 0 0 100px rgb(254, 25, 25),
      0 0 150px rgb(254, 25, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 25, 25), 0 0 35px rgb(254, 25, 25),
      0 0 40px rgb(254, 25, 25), 0 0 50px rgb(254, 25, 25),
      0 0 75px rgb(254, 25, 25);
  }
}

@keyframes neonRed {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 25, 25), 0 0 70px rgb(254, 25, 25),
      0 0 80px rgb(254, 25, 25), 0 0 100px rgb(254, 25, 25),
      0 0 150px rgb(254, 25, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 25, 25), 0 0 35px rgb(254, 25, 25),
      0 0 40px rgb(254, 25, 25), 0 0 50px rgb(254, 25, 25),
      0 0 75px rgb(254, 25, 25);
  }
}

.plus5sec {
  -webkit-animation: neonYellow 1.5s ease-in-out infinite alternate;
  -moz-animation: neonYellow 1.5s ease-in-out infinite alternate;
  animation: neonYellow 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonYellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 223, 25), 0 0 70px rgb(254, 223, 25),
      0 0 80px rgb(254, 223, 25), 0 0 100px rgb(254, 223, 25),
      0 0 150px rgb(254, 223, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 223, 25), 0 0 35px rgb(254, 223, 25),
      0 0 40px rgb(254, 223, 25), 0 0 50px rgb(254, 223, 25),
      0 0 75px rgb(254, 223, 25);
  }
}

@-moz-keyframes neonYellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 223, 25), 0 0 70px rgb(254, 223, 25),
      0 0 80px rgb(254, 223, 25), 0 0 100px rgb(254, 223, 25),
      0 0 150px rgb(254, 223, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 223, 25), 0 0 35px rgb(254, 223, 25),
      0 0 40px rgb(254, 223, 25), 0 0 50px rgb(254, 223, 25),
      0 0 75px rgb(254, 223, 25);
  }
}

@keyframes neonYellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgb(254, 223, 25), 0 0 70px rgb(254, 223, 25),
      0 0 80px rgb(254, 223, 25), 0 0 100px rgb(254, 223, 25),
      0 0 150px rgb(254, 223, 25);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgb(254, 223, 25), 0 0 35px rgb(254, 223, 25),
      0 0 40px rgb(254, 223, 25), 0 0 50px rgb(254, 223, 25),
      0 0 75px rgb(254, 223, 25);
  }
}

.plus5000 {
  -webkit-animation: neonSkyBlue 1.5s ease-in-out infinite alternate;
  -moz-animation: neonSkyBlue 1.5s ease-in-out infinite alternate;
  animation: neonSkyBlue 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neonSkyBlue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgba(25, 181, 254, 1), 0 0 70px rgba(25, 181, 254, 1),
      0 0 80px rgba(25, 181, 254, 1), 0 0 100px rgba(25, 181, 254, 1),
      0 0 150px rgba(25, 181, 254, 1);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgba(25, 181, 254, 1), 0 0 35px rgba(25, 181, 254, 1),
      0 0 40px rgba(25, 181, 254, 1), 0 0 50px rgba(25, 181, 254, 1),
      0 0 75px rgba(25, 181, 254, 1);
  }
}

@-moz-keyframes neonSkyBlue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgba(25, 181, 254, 1), 0 0 70px rgba(25, 181, 254, 1),
      0 0 80px rgba(25, 181, 254, 1), 0 0 100px rgba(25, 181, 254, 1),
      0 0 150px rgba(25, 181, 254, 1);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgba(25, 181, 254, 1), 0 0 35px rgba(25, 181, 254, 1),
      0 0 40px rgba(25, 181, 254, 1), 0 0 50px rgba(25, 181, 254, 1),
      0 0 75px rgba(25, 181, 254, 1);
  }
}

@keyframes neonSkyBlue {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
      0 0 40px rgba(25, 181, 254, 1), 0 0 70px rgba(25, 181, 254, 1),
      0 0 80px rgba(25, 181, 254, 1), 0 0 100px rgba(25, 181, 254, 1),
      0 0 150px rgba(25, 181, 254, 1);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
      0 0 20px rgba(25, 181, 254, 1), 0 0 35px rgba(25, 181, 254, 1),
      0 0 40px rgba(25, 181, 254, 1), 0 0 50px rgba(25, 181, 254, 1),
      0 0 75px rgba(25, 181, 254, 1);
  }
}

/* .fadein.freeze {
  animation: fadeInBottom 1s, neonWhite 1.5s ease-in-out infinite alternate
}

.fadein.shield {
  animation: fadeInBottom 1s, neonTeal 1.5s ease-in-out infinite alternate
} */

.fadein.plus5percent {
  animation: fadeInBottom 1s, neonRed 1.5s ease-in-out infinite alternate;
}

.fadein.plus5sec {
  animation: fadeInBottom 1s, neonYellow 1.5s ease-in-out infinite alternate;
}

.fadein.plus5000 {
  animation: fadeInBottom 1s, neonSkyBlue 1.5s ease-in-out infinite alternate;
}

/* .fadeout.freeze {
  animation: fadeOutBottom 1s, neonWhite 1.5s ease-in-out infinite alternate
}

.fadeout.shield {
  animation: fadeOutBottom 1s, neonTeal 1.5s ease-in-out infinite alternate
} */

.fadeout.plus5percent {
  animation: fadeOutBottom 1s, neonRed 1.5s ease-in-out infinite alternate;
}

.fadeout.plus5sec {
  animation: fadeOutBottom 1s, neonYellow 1.5s ease-in-out infinite alternate;
}

.fadeout.plus5000 {
  animation: fadeOutBottom 1s, neonSkyBlue 1.5s ease-in-out infinite alternate;
}

/*    HOMEPAGE    */
body {
  margin: 0;
  overflow: hidden;
}

#instructions {
  position: absolute;
  color: #666;
  bottom: 0;
  padding-bottom: 6px;
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

#three-container canvas {
  background-color: transparent;
}
